/*
    CSS file for homepage of react website
    Author: Rodrigo Miguel Rojas (s3784466)
 */

.bodyText {
    text-align: center;
    margin-top: 100px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}